NODE_ENV=local
PORT=8000
MONGODB_URI=valid_mongo_uri
PACKAGE_NAME=express-mongodb-boilerplate

CLIENT_URL=http://localhost:3000
API_URL=http://localhost:8000

BETTER_AUTH_SECRET=e5a7d37c7a0ee4519c0cdcfd7cdf33edc3208dddab5dfcd7ffdc2f7c155ce02f272c0bd7b59082422964a811b809

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=valid_aws_key
AWS_SECRET_ACCESS_KEY=valid_aws_secret_key
S3_BUCKET_NAME=bucket_name

S3_DEFAULT_FOLDER=uploads
S3_PROFILE_IMAGES_FOLDER=profile-images
S3_EVENT_IMAGES_FOLDER=events
S3_DOCUMENTS_FOLDER=docs
